
@{
    ViewBag.Title = "DetailVol";
}

<div class="container">

    <h1 class="display-4">Détails du vol :</h1>

    <br />

    <div class="card">
        <div class="card-header">
            Vol N° <span class="badge badge-pill badge-success">54156</span>
        </div>
        <div class="card-body">
            <h1 class="display-4">PARIS (CDG) <i class="fas fa-plane"></i> NEW YORK (JFK)</h1>
            <p class="lead">AirFrance vous propose ce trajet au départ de l'aéroport de Paris (CDG) vers l'aéroport de New York (JFK)</p>
            <ul class="list-unstyled">
                <li><p class="card-text"><i class="far fa-calendar"></i> Départ le 14/03/2019 à 12h15</p></li>
                <li><p class="card-text"><i class="far fa-calendar-check"></i> Arrivée le 14/03/2019 à 15h15</p></li>
                <li><p class="card-text"><i class="fas fa-users"></i> Nombres de places : 327</p></li>
                <li><p class="card-text"><i class="fas fa-location-arrow"></i> Distance parcourue : 1200Km</p></li>
                <li><h1 class="display-4">500€ / place</h1></li>
                <br />
                <button type="button" class="btn btn-success"><i class="fas fa-suitcase"></i> Réserver ma place</button>
            </ul>
            </div>
     </div>
</div>

