
@{
    ViewBag.Title = "Passagers";
}

<div class="container">

    <h1 class="display-4">Liste des passagers :</h1>

    <br />

    <div class="card">
        <div class="card-header">
            Vol N° <span class="badge badge-pill badge-success">54156</span> | <span class="badge badge-pill badge-primary">142</span> passagers enregistrés
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Az</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>





</div>

